Makefile
Makefile.in
MS2-reqs
MegaTunix.iss
Output
RELEASE_NOTES
WIN_NOTES.txt
aclocal.m4
autom4te.cache
build-stamp
config.h
config.h.in
config.log
config.status
configure
idea
libtool
megatunix.spec
po
python
stamp-h
stamp-h1
config.guess
config.sub
ltmain.sh
missing
install.sh
install-sh
depcomp
*.o
*.lo
*.la
.deps
.libs
