Makefile
Makefile.in
MS2-reqs
MegaTunix*.iss
Output
WIN_NOTES.txt
autom4te.cache
win32.cache
build-stamp
stamp-it
config.h
config.h.in
config.log
config.status
config.rpath
configure
idea
libtool
megatunix.spec
python
stamp-h
stamp-h1
config.guess
config.sub
ltmain.sh
missing
install.sh
install-sh
depcomp
ylwrap
*.m4
*.o
*.lo
*.la
.deps
.libs
*.glade.bak
*.gladep.bak
*.gladep
ABOUT-NLS
gettext.h
*.exe
intltool-*
mkinstalldirs
.intltool-merge-cache
*~
announcement
megatunix*.tar.gz
tags
gmon.out
docs
Doxyfile
doxygen.errors
*.swp
megatunix-*
po/tmp
gitTagMessage.txt
gitTagName.txt
include/version.h
contrib/rtv_2_xml
fix_glib_megatunix
