[project]
	description = MegaTunix Tuning software for MegaSquirt (and others) EFI Controllers
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/djandruczyk
[access "refs/for/refs/*"]
	read = group user/djandruczyk
	push = group user/djandruczyk
	label-Code-Review = -2..+2 group user/djandruczyk
	label-Verified = -1..+1 group user/djandruczyk
	rebase = group user/djandruczyk
	removeReviewer = group user/djandruczyk
	submit = group user/djandruczyk
[access "refs/heads/*"]
	read = group user/djandruczyk
	create = group user/djandruczyk
	push = +force group user/djandruczyk
	pushMerge = group user/djandruczyk
[access "refs/tags/*"]
	push = group user/djandruczyk
	push = +force group user/djandruczyk
