[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=MegaTunix Gauge Designer
GenericName=gaugedesigner
Comment=megatunix gauge designer
Exec=gaugedesigner
Icon=gaugedesigner
Type=Application
Categories=Automotive;Other;Utility
